# Covers maven dependency management

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
run.log

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Project file, always import from maven
*.iml

# User-specific stuff
.idea/**/*

# Ignore any results from local runs
*/results/**

# Running pipeline locally
results/

# Don't upload service account keys
gcloud-read-credentials.json
bootstrap-key.json
google-key.json
