<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p- %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="run.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p- %m%n"/>
        </layout>
    </appender>

    <logger name="com.hartwig">
        <level value="INFO"/>
    </logger>
    <logger name="org.apache.hadoop.util.NativeCodeLoader">
        <level value="OFF"/>
    </logger>
    <root>
        <level value="WARN"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file" />
    </root>

</log4j:configuration>